.container {
    padding-top: 32px;
}

.timer-texto-principal {
    color: rgb(14, 28, 230);
    display: block;
    margin-top: 100px;
    font-size: xx-large;
    font-weight: bold;
}

.button-reset {
    height: 5%;
    width: 5%;
    padding-left: 10px;
    outline: none;
    text-align: center;
}

.input-custom {
    width: 300px;
}

.input-text-color {
    color: black;
    font-size: medium;
    font-weight: 500;
}

.inputs {
    margin-top: 58%;
}