@font-face {
    font-family: font-digital;
    src: url(./../../assets/fonts/DJB_Get_Digital.ttf);
}

.container {
    padding-top: 32px;
}

.timer-texto-principal {
    color: rgba(219, 78, 12, 0.863);
    display: block;
    margin-top: 14%;
    font-size: 70px;
    font-family: font-digital, Arial, Helvetica, sans-serif;
}

.button-reset {
    height: 5%;
    width: 5%;
    padding-left: 10px;
    outline: none;
    text-align: center;
    margin-right: 2%;
}

.input-custom {
    width: 300px;
}

.input-text-color {
    color: black;
    font-size: medium;
    font-weight: 500;
}

.inputs {
    margin-top: 52%;
}

@media screen and (max-width: 1024px) {
    .timer-texto-principal {
        font-size: 58px;
        margin-top: 12%;
    }
    .margem-responsivo {
        margin-top: -4%;
        margin-left: 5%;
    }
    .button-reset {
        margin-right: 2%;
    }
}

@media screen and (max-width: 600px) {
    .timer-texto-principal {
        font-size: 58px;
        margin-top: 25%;
    }
    .margem-responsivo {
        margin-top: 140%;
    }
    .button-reset {
        height: 12%;
        width: 12%;
        margin-right: 8%;
    }
}