<div class="container text-center">
    <countdown *ngIf="this.countdown_atual != undefined && getCountdownAtual() > 0" class="timer-texto-principal" [config]="{leftTime: getCountdownAtual()}"></countdown>
    <label *ngIf="getCountdownAtual() <= 0" class="timer-texto-principal">Timer zerado!</label>
    <div *ngIf="this.dragon_senha != undefined" class="d-block margem-responsivo">
        <div class="row d-block inputs">
            <mat-form-field class="input-custom">
                <mat-label class="input-text-color">Senha Dragon</mat-label>
                <input class="input-text-color" matInput type="password" [(ngModel)]="senha">
            </mat-form-field>
        </div>
        <input type="image" src="https://i.imgur.com/x21chM4.png" name="reset_countdown_timer" class="button-reset" id="reset_countdown_timer" (click)="resetarCountdown()" />
    </div>
</div>