body, html {
    height: 100%;
    background-image: url(assets/images/csgo-background-2.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-color: #000000;
  }